<header class="header header-absolute">
  <div class="container">
    <div class="logo">
      <a href="/"><img height="50" alt="{{ site.logo.desktopAlt }}" src="{{ site.logo.desktop }}" /></a>
    </div>
    {% include "partials/main-menu.njk" %}
    {% include "partials/hamburger.njk" %}
  </div>
</header>
