<div id="hero" class="hero-image hero-image-setheight" style="background-image: url('{{ heroBackground }}')">
  <div class="container">
    <div class="hero-text">
      {% if heroSection %}<span class="hero-section">{{ heroSection }}</span>{% endif %}
      <h1>{{ heroHeading }}</h1>
      {% if heroSubHeading %}<p>{{ heroSubHeading }}</p>{% endif %}
    </div>
  </div>
</div>
