<nav id="main-menu-mobile" class="main-menu-mobile" aria-label="Navigation mobile">
  <ul>
    {% for item in site.nav %}
    <li class="menu-item-{{ item.name | lower }}{% if page.url == item.url %} active{% endif %}">
      <a href="{{ item.url }}">
        <span>{{ item.name }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
