<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            {% if contact.phone %}
            <li><strong>Téléphone : </strong>{{ contact.phone }}</li>
            {% endif %}
            {% if contact.email %}
            <li><strong>Email : </strong><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></li>
            {% endif %}
          </ul>
          <p class="sub-footer-copyright">© {% year %} {{ site.footer.copyright }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
